.hotel-main {
  width: 100%;
  .header{
    height: 150px;
    display: flex;
    flex-wrap: wrap;

    .sub-head {
      height: 100%;
      width: 80%;
      h1 {
        font-size: 35px;
      }
      div {
        display: flex;
      }
      .area {
        p {
          margin-right: 20px;
        }
      }
    }
    .price {
      height: 100%;
      width: 20%;
      strong {
        font-size: 45px;
        color: #f79809;
      }
    }
  }

  .view-select {
    width: 100%;

    button {
      height: 50px;
      width: 33%;
      background: #9351b5;
      color: #ccbad6;
      font-size: 15px;
      border: none;
      border-bottom: #9351b5 solid 5px;
      outline: none;
    }

    .active {
      color: white;
      border-bottom: #7b3c9b solid 5px;
    }
  }

  .description {
    margin: 10px 2% 0 2%;
    text-align: start;
    line-height: 1.6;
  }

  ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    li {
      width: 100%;
      margin: 10px 0 10px 0;
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      strong,
      p {
        width: 100%;
        text-align: start;
      }
    }
  }

  .short {
    height: 200px;
    overflow: hidden;
  }
}