.hotel-main {
  width: 100%;
  .header{
    height: 150px;
    display: flex;
    flex-wrap: wrap;

    .sub-head {
      height: 100%;
      width: 80%;
      h1 {
        font-size: 35px;
      }
      div {
        display: flex;
      }
      .area {
        p {
          margin-right: 20px;
        }
      }
    }
    .price {
      height: 100%;
      width: 20%;
      strong {
        font-size: 45px;
      }
    }
  }
}